<nav class="navbar bg-secondary-content text-neutral-content shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl text-secondary" href="/">Octopus Map Project</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-4 text-lg">
      <li><a>About</a></li>
      <li>
        <details>
          <summary>Findings</summary>
          <ul class="bg-secondary-content text-neutral-content rounded-t-none p-2">
            <li><a href="/">Corpus</a></li>
            <li><a>Conceptual Metaphor</a></li>
            <li><a>Rhetorical Strategies</a></li>
            <li><a>Full Article</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</nav>